:root {
    --halloween-font: 'Outfit', sans-serif; color: #403d39;
    --primary-color: 
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--halloween-font);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fffcf2;
}



/* Initial state of the h1 text */
header > h1 {
    font-family: var(--halloween-font);
    font-size: 130px;
    padding: 50px;
    margin: 45px;
    text-align: left;
    position: relative;
    
    /* Starting position: off-screen */
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 1s ease-out, opacity 1s ease-out; /* Smooth slide in */
}

/* When the class 'visible' is added, the h1 text slides in */
header > h1.visible {
    opacity: 1;
    transform: translateX(0); /* Slides the h1 back to its normal position */
}
header{
    font-size: large;
    color: #000000;
    background-image: url(img/holiday.jpg);
    background-size: cover;
    background-position-x: center;
    width: 100%;
    height: 50vh;
    min-height: 300px;
    border-end-start-radius: 100px;
    border-end-end-radius: 100px;
    margin: 0px;
    position: relative;
    top: 0px;
}

@media (max-width: 849px) {
    header, header h1 {
        height: 300px;
        font-size: 50px;


    }
}

div.paragraph{
    padding: 10px;
    margin: 23px;
    align-items: left;
    font-size: 20px;
    text-align: center;

}

.container{
    padding: 20px;
    background-color: #ccc5b9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: 20px auto;
    gap: 31px;
    font-family: var(--halloween-font);
    font-weight: bold;
}



.col{
    font-family: var(--halloween-font);
    font-weight: bold;
    padding: 10px;
    font-size: 1rem;
    border-color: black;
    border-radius: 5px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}

#start-countdown{
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #403d39;
    color: #fffcf2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-countdown:hover {
    background-color:rgb(143, 106, 82);
    border: none;
}


.container-countdown {
    text-align: center;
    background-color: #252422;
    padding: 20px;
    border-radius: 125px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
     font-family: var(--halloween-font);
    font-weight: bold;
    color: #fffcf2;
    }
    
    .time {
        text-align: center;
    }
    
    .time span.label {
        display: block;
        font-size: 12px;
        margin-top: 5px;
    }


.time {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 2em;
    color: #fffcf2;
}

.time div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    font-size: 2em;
    font-weight: bold;
}

#shareButton{
    position: fixed;
    border-radius: 100px;
    background-color: #252422;
    color: #fffcf2;
    bottom: 1px;
    right: 45px;
    font-size: 40px;
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    font-family: var(--halloween-font);
}
#shareButton:hover{

background-color:rgba(250, 94, 0, 1);
border: none;
}

.modal-content{
    background-color: #252422;
}

.modal-body{
    border: 1px solid white;
}