body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: black;
    margin: 0;
}

hl {
    font-size: 3em;
    margin-bottom: 20px;
    color: black;
}

.countdown {
    text-align: center;
    background-color: rgb(238, 215, 174);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.time {
    display: flex;
    justify-content: center;
    gap: 10xp;
    font-size: 2em;
    color: black;
}

.time div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    font-size: 2em;
}

#shareButton{
    position: fixed;
    border-radius: 50%;
    background-color: black;
    color: white;
    bottom: 1px;
    right: 1px;
    font-size: 26px;
    height: 50px;
    width: 50px;
}